# Hasil build
/internal/ui/dist/*
!/internal/ui/dist/index.html
/web/node_modules/
/web/.svelte-kit/

# Data lokal
*.db
*.db-shm
*.db-wal
/data/
/obsidian/
config.json

# Berkas sistem
.DS_Store
Thumbs.db

# Rahasia lokal
.env
.env.*
!.env.example
